In [1]:
import pandas as pd
import numpy as np

импорт датасета

In [2]:
df = pd.read_csv('bbc-news-data.csv', sep='\t')
df.head()

,category,filename,title,content
0,business,001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,business,003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,business,004.txt,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,business,005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...

удаление знаков препинания и др. ненужных символов

In [5]:
df = df.replace(r'[.,"\'-?:!;/<>()*\\]', '', regex=True)
df

,category,filename,title,content
0,business,txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,business,txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,business,txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,business,txt,High fuel prices hit BAs profits,British Airways has blamed high fuel prices f...
4,business,txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...
...,...,...,...,...
2220,tech,txt,BT program to beat dialler scams,BT is introducing two initiatives to help bea...
2221,tech,txt,Spam emails tempt net shoppers,Computer users across the world continue to i...
2222,tech,txt,Be careful how you code,A new European directive could put software w...
2223,tech,txt,US cyber security chief resigns,The man making sure US computer networks are ...
2224,tech,txt,Losing yourself in online gaming,Online role playing games are timeconsuming b...

приведение к нижнему регистру

In [6]:
df['content'] = df['content'].str.lower()
df['title'] = df['title'].str.lower()

In [7]:
from nltk.tokenize import sent_tokenize, word_tokenize
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

векторизация - деление предложения по словам

In [8]:
for i in range(len(df['content'])):
  text = nltk.word_tokenize(df['content'][i])
  df['content'][i] = text

for i in range(len(df['title'])):
  text = nltk.word_tokenize(df['title'][i])
  df['title'][i] = text

удаление колонки "filename", за ненадобностью

In [9]:
df =df.drop('filename', axis = 1)
df

,category,title,content
0,business,"[ad, sales, boost, time, warner, profit]","[quarterly, profits, at, us, media, giant, tim..."
1,business,"[dollar, gains, on, greenspan, speech]","[the, dollar, has, hit, its, highest, level, a..."
2,business,"[yukos, unit, buyer, faces, loan, claim]","[the, owners, of, embattled, russian, oil, gia..."
3,business,"[high, fuel, prices, hit, bas, profits]","[british, airways, has, blamed, high, fuel, pr..."
4,business,"[pernod, takeover, talk, lifts, domecq]","[shares, in, uk, drinks, and, food, firm, alli..."
...,...,...,...
2220,tech,"[bt, program, to, beat, dialler, scams]","[bt, is, introducing, two, initiatives, to, he..."
2221,tech,"[spam, emails, tempt, net, shoppers]","[computer, users, across, the, world, continue..."
2222,tech,"[be, careful, how, you, code]","[a, new, european, directive, could, put, soft..."
2223,tech,"[us, cyber, security, chief, resigns]","[the, man, making, sure, us, computer, network..."
2224,tech,"[losing, yourself, in, online, gaming]","[online, role, playing, games, are, timeconsum..."

In [ ]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

удаление стоп слов

In [13]:
for i in range(len(df['title'])):
  text = df['title'][i]
  df['title'][i]= [word for word in text if word not in stop_words]
for i in range(len(df['content'])):
  text = df['content'][i]
  df['content'][i]= [word for word in text if word not in stop_words] 
df

,category,title,content
0,business,"[ad, sales, boost, time, warner, profit]","[quarterly, profits, us, media, giant, timewar..."
1,business,"[dollar, gains, greenspan, speech]","[dollar, hit, highest, level, euro, almost, th..."
2,business,"[yukos, unit, buyer, faces, loan, claim]","[owners, embattled, russian, oil, giant, yukos..."
3,business,"[high, fuel, prices, hit, bas, profits]","[british, airways, blamed, high, fuel, prices,..."
4,business,"[pernod, takeover, talk, lifts, domecq]","[shares, uk, drinks, food, firm, allied, domec..."
...,...,...,...
2220,tech,"[bt, program, beat, dialler, scams]","[bt, introducing, two, initiatives, help, beat..."
2221,tech,"[spam, emails, tempt, net, shoppers]","[computer, users, across, world, continue, ign..."
2222,tech,"[careful, code]","[new, european, directive, could, put, softwar..."
2223,tech,"[us, cyber, security, chief, resigns]","[man, making, sure, us, computer, networks, sa..."
2224,tech,"[losing, online, gaming]","[online, role, playing, games, timeconsuming, ..."

кодирование колонки "category"

In [18]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['category']= label_encoder.fit_transform(df['category'])
df

,category,title,content
0,0,"[ad, sales, boost, time, warner, profit]","[quarterly, profits, us, media, giant, timewar..."
1,0,"[dollar, gains, greenspan, speech]","[dollar, hit, highest, level, euro, almost, th..."
2,0,"[yukos, unit, buyer, faces, loan, claim]","[owners, embattled, russian, oil, giant, yukos..."
3,0,"[high, fuel, prices, hit, bas, profits]","[british, airways, blamed, high, fuel, prices,..."
4,0,"[pernod, takeover, talk, lifts, domecq]","[shares, uk, drinks, food, firm, allied, domec..."
...,...,...,...
2220,4,"[bt, program, beat, dialler, scams]","[bt, introducing, two, initiatives, help, beat..."
2221,4,"[spam, emails, tempt, net, shoppers]","[computer, users, across, world, continue, ign..."
2222,4,"[careful, code]","[new, european, directive, could, put, softwar..."
2223,4,"[us, cyber, security, chief, resigns]","[man, making, sure, us, computer, networks, sa..."
2224,4,"[losing, online, gaming]","[online, role, playing, games, timeconsuming, ..."

In [19]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

лемматизация - преобразование слов в неопределенную форму

In [20]:
from nltk.tag.brill import Word
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
for i in range(len(df['title'])):
  text = df['title'][i]
  df['title'][i]= [lemmatizer.lemmatize(word) for word in text]
for i in range(len(df['content'])):
  text = df['content'][i]
  df['content'][i]= [lemmatizer.lemmatize(word) for word in text]
df

<ipython-input-20-293d672b60d0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['title'][i]= [lemmatizer.lemmatize(word) for word in text]
<ipython-input-20-293d672b60d0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['content'][i]= [lemmatizer.lemmatize(word) for word in text]

,category,title,content
0,0,"[ad, sale, boost, time, warner, profit]","[quarterly, profit, u, medium, giant, timewarn..."
1,0,"[dollar, gain, greenspan, speech]","[dollar, hit, highest, level, euro, almost, th..."
2,0,"[yukos, unit, buyer, face, loan, claim]","[owner, embattled, russian, oil, giant, yukos,..."
3,0,"[high, fuel, price, hit, ba, profit]","[british, airway, blamed, high, fuel, price, %..."
4,0,"[pernod, takeover, talk, lift, domecq]","[share, uk, drink, food, firm, allied, domecq,..."
...,...,...,...
2220,4,"[bt, program, beat, dialler, scam]","[bt, introducing, two, initiative, help, beat,..."
2221,4,"[spam, email, tempt, net, shopper]","[computer, user, across, world, continue, igno..."
2222,4,"[careful, code]","[new, european, directive, could, put, softwar..."
2223,4,"[u, cyber, security, chief, resigns]","[man, making, sure, u, computer, network, safe..."
2224,4,"[losing, online, gaming]","[online, role, playing, game, timeconsuming, e..."

колонку "content" преобразую в цифры

In [58]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['content'].astype('U'))
y = df['category']

AttributeError: ignored

логистическая регрессия

In [31]:
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression()
logisticRegr.fit(X, y)

LogisticRegression()

In [32]:
logisticRegr.score(X,y)

1.0

градиентный бустринг

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

# gbc = GradientBoostingClassifier(random_state=0)
# gbc.fit(X, y)
# y_pred = gbc.predict(X)
# accuracy_score(y,y_pred)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

gbc = GradientBoostingClassifier(random_state=0)
gbc.fit(X_train, y_train)

y_pred = gbc.predict(X_test)

accuracy_score(y_test, y_pred)

0.9640449438202248

In [53]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

param_grid = {
    'learning_rate': [0.05, 0.1, 0.2],
    'n_estimators': [50, 100, 150],
    'max_depth': [2, 3, 5],
    'max_features': ['sqrt', 'log2']
}
grid_search = GridSearchCV(gbc, param_grid, cv=5)
grid_search.fit(X_train, y_train)


print("Best parameters: ", grid_search.best_params_)
print("Accuracy score: ", accuracy_score(y, grid_search.predict(X)))

Best parameters:  {'learning_rate': 0.2, 'max_depth': 5, 'max_features': 'sqrt', 'n_estimators': 150}
Accuracy score:  0.9932584269662922

In [ ]:


param_range = np.arange(1, 100, 10)
train_scores, test_scores = validation_curve(
    gbc, X, y, param_name="n_estimators", param_range=param_range,
    cv=5, scoring="accuracy", n_jobs=-1)


train_mean = np.mean(train_scores, axis=1)
train_std = np.std(train_scores, axis=1)
test_mean = np.mean(test_scores, axis=1)
test_std = np.std(test_scores, axis=1)

plt.title("Validation Curve with GradientBoostingClassifier")
plt.xlabel("n_estimators")
plt.ylabel("Score")
plt.ylim(0.0, 1.1)
plt.xticks(param_range)
lw = 2
plt.plot(param_range, train_mean, label="Training score",
             color="darkorange", lw=lw)
plt.fill_between(param_range, train_mean - train_std,
                 train_mean + train_std, alpha=0.2,
                 color="darkorange", lw=lw)
plt.plot(param_range, test_mean, label="Cross-validation score",
             color="navy", lw=lw)
plt.fill_between(param_range, test_mean - test_std,
                 test_mean + test_std, alpha=0.2,
                 color="navy", lw=lw)
plt.legend(loc="best")
plt.show()

In [ ]:
import pickle
filename = 'gbc_model.sav'
pickle.dump(gbc, open(filename, 'wb'))
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(y_test, y_pred)
print(result)